.main-container #charity {
	background-image: url(../img/charity/charity-bg.jpg);
    width: 100%;
    height: 1472px;
    background-repeat: no-repeat;
    background-position: top center;

	.title2 {
	    font-size: 24px;
	    color: #cfcfcf;
	    width: 670px;
	    text-align: center;
	    position: absolute;
	    top: 625px;
	    left: 50%;
	    margin-left: -566px;
	}

	.charity-wrapper {
		position: absolute;
	    left: 50%;
	    margin-left: -566px;
		width: 670px;
		height: 200px;

		.title1 {
		    font-size: 36px;
		    padding-top: 0px;
		    padding-bottom: 0px;
		    line-height: 36px;
		    color: #cfcfcf;
		    position: relative;
		    top: -14px;
			left: 272px;
			display: inline-block;
		}

		div {
			color: #999999;
			position: relative;
			left: 287px;
			top: -16px;
		}

		a {
			position: relative;
			top: 130px;
			left: 286px;
			background-image: url(../img/charity/donate-bg.jpg);
    		background-repeat: no-repeat;
    		width: 80px;
			height: 30px;
			display: block;
			text-align: center;
			padding-top: 10px;
		}
		a:hover {
			color: #fff;
		}
	}
	.lone_survivor_foundation {
	    top: 720px;
		background-image: url(../img/charity/lone-survivor-foundation.png);
    	background-repeat: no-repeat;

    	div {
			width: 320px;
    	}
	}
	.navy_seal_foundation {
	    top: 940px;
		background-image: url(../img/charity/navy-seal-foundation.png);
    	background-repeat: no-repeat;

    	div {
			width: 365px;
    	}
	}
	.got_your_6 {
	    top: 1160px;
		background-image: url(../img/charity/got-your-6.png);
    	background-repeat: no-repeat;

    	div {
			width: 365px;
    	}
	}
	.blocktext {
	    padding-left: 12px;
	    padding-right: 12px;
	    margin: 0px;
	    background-color: #000;
	}
}

div.indicator {
	display: none;
}