@homeheight: 686px;

/* ==========================================================================
   HOME custom styles
   ========================================================================== */
div#home {
    position: fixed;
    top: 35px;
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/assets/img/home/bg.jpg);
    text-align: center;

    div#video {
        display: inline-block;
        /*max-width: 1680px;
        min-width: 1280px;*/
        width: 1680px;
        height: 720px;

        video.video-bg {
            width: 100%;
        }
        .video-texture {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 35px;
            background-image: url(/assets/img/home/scanlines.png);
        }
    }
}

div.section {
    width: 100%;
    height: 2000px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}
div .home-content {
    width: 978px;  
    margin-left: 50%;
    left: -489px;
    position: absolute;
}
div .fore {
    position: absolute;
    background-repeat: no-repeat;
}
div .fore.left {
    background-image: url(/assets/img/home/left_branch.png);
    width: 254px;
    height: 693px;
}
div .fore.right {
    background-image: url(/assets/img/home/right_branch.png);
    width: 365px;
    height: 836px;
    right: 0px;
}
div.marcus.section { background-image: url(/assets/img/home/marcus/bg.jpg); top: @homeheight; }
div.marcus.home-content { top: @homeheight; }
div.mikey.section { background-image: url(/assets/img/home/mikey/bg.jpg); top: @homeheight + 2000; }
div.axe.section { background-image: url(/assets/img/home/axe/bg.jpg); top: @homeheight + 4000; }
div.dietz.section { background-image: url(/assets/img/home/dietz/bg.jpg); top: @homeheight + 6000; }
div.tribute.section { 
    background-image: url(/assets/img/home/tribute/bg.jpg); 
    background-position: top center;
    position: fixed;
    top: 35px;
    height: 2250px;
}

.blocktext {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px;
    background-color: #333;
}
.title1 {
    font-size: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 36px;
}
.title2 {
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.title3 {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 17px;    
}
.bodycopy {
    color: #999;
    padding-top: 6px;
    padding-bottom: 6px;
}
/* ==========================================================================
   character custom styles
   ========================================================================== */
.home-content .container {
    position: relative;
    min-height: 200px;
}
/* top quote */
.quote-top {
    position: absolute;
    width: 978px;
    overflow: hidden;
}
.quote-top-img {
    position: relative;
}
/* job */
.job {
    position: absolute;
    width: 978px;
    overflow: hidden;
}
.job .icon {
    margin-bottom: 10px;
    margin-left: 12px;
    display: block;
    cursor: pointer;
}
.job .container {
    height: 250px;
}
.job .title2 {
    background-color: #333;
}
.job .bodycopy {  
    background-color: #333;
}
.job .flourish {
    position: absolute;
}
/* bio */
.bio {
    position: absolute;
    width: 978px;
    overflow: hidden;
    color: #c9c9c9;
}
.bio .container {
    padding-left: 174px;
    padding-top: 5px;
}
.bio .bodycopy {  
    background-color: #000;
    float: left;
    clear: both;
}
.bio .title1 {  
    background-color: #000;
    float: left;
    clear: both;
}
.bio .title3 {  
    background-color: #000;
    float: left;
    clear: both;
}
.bio .role {  
    float: left;
    clear: both;
}
/* bottom quote */
.quote-bot {
    position: absolute;
    width: 978px;
    overflow: hidden;
}
.quote-bot .container img {
    position: absolute;
}

/* ==========================================================================
   marcus custom styles
   ========================================================================== */
/* fore */
.marcus.fore {
    top: 1360px;
}
/* top quote */
.marcus .quote-top {
    top: 368px;
}
.marcus .quote-top-img {
    left: 21px;
}
/* job */
.marcus .job {
    top: 100 + 695px;
    height: 220px;
}
.marcus .job .container {
    left: 360px;
    background-image: url(/assets/img/home/job-flourish.png);
    background-repeat: no-repeat;
    background-position: 217px 63px;
}
.marcus .job .bodycopy {
    width: 315px;
}
.marcus .job .job-content {
    position: absolute;
    top: 71px;
}
/* bio */
.marcus .bio {
    top: 100 + 998px;
}
.marcus .bio .container {
    left: 0px;
    background-image: url(/assets/img/home/marcus/bio-img.png);
    background-repeat: no-repeat;
}
.marcus .bio .bodycopy {
    width: 493px;
}
.marcus .bio .role {  
    padding-left: 100px;
}
/* bottom quote */
.marcus .quote-bot {
    top: 100 + 1419px;  
}
.marcus .quote-bot .container {
    left: 0px;
    height: 270px;
}
.marcus .quote-bot-text-img {
    top: 0px;
    left: 0px;
}
.marcus .quote-bot-img {
    top: 115px;
    left: 181px;
}
/* ==========================================================================
   mikey custom styles
   ========================================================================== */
/* top quote */
.mikey .quote-top {
    top: 0 + 2300px;
}
.mikey .quote-top-img {
    left: 72px;
}
/* job */
.mikey .job {
    top: 100 + 2669px;
    height: 230px;
}
.mikey .job .container {
    left: 0px;
    background-image: url(/assets/img/home/job-flourish.png);
    background-repeat: no-repeat;
    background-position: 167px 60px;
}
.mikey .job .job-content {
    position: absolute;
    top: 82px;
}
.mikey .job .bodycopy {
    width: 268px;
}
/* bio */
.mikey .bio {
    top: 100 + 3017px;
}
.mikey .bio .container {
    left: 0px;
    background-image: url(/assets/img/home/mikey/bio-img.png);
    background-repeat: no-repeat;
}
.mikey .bio .bodycopy {
    width: 532px;
}
.mikey .bio .role {  
    padding-left: 100px;
}
/* bottom quote */
.mikey .quote-bot {
    top: 100 + 3610px;  
}
.mikey .quote-bot .container {
    left: 174px;
    height: 270px;
}
.mikey .quote-bot-text-img {
    top: 0px;
    left: 0px;
}
.mikey .quote-bot-img {
    top: 86px;
    left: 229px;
}
/* ==========================================================================
   axe custom styles
   ========================================================================== */
/* top quote */
.axe .quote-top {
    top: 4319px;
}
.axe .quote-top-img {
    left: 24px;
}
/* job */
.axe .job {
    top: 100 + 4649px;
    height: 253px;
}
.axe .job .container {
    left: 0px;
    background-image: url(/assets/img/home/job-flourish.png);
    background-repeat: no-repeat;
    background-position: 142px 67px;
}
.axe .job .job-content {
    position: absolute;
    top: 86px;
}
.axe .job .bodycopy {
    width: 268px;
}
/* bio */
.axe .bio {
    top: 100 + 4967px;
}
.axe .bio .container {
    left: 0px;
    background-image: url(/assets/img/home/axe/bio-img.png);
    background-repeat: no-repeat;
}
.axe .bio .bodycopy {
    width: 532px;
}
.axe .bio .role {  
    margin-left: -125px;
}
/* bottom quote */
.axe .quote-bot {
    top: 100 + 5560px;  
}
.axe .quote-bot .container {
    left: 0px;
    height: 270px;
}
.axe .quote-bot-text-img {
    top: 0px;
    left: 0px;
}
.axe .quote-bot-img {
    top: 106px;
    left: 197px;
}
/* ==========================================================================
   dietz custom styles
   ========================================================================== */
/* top quote */
.dietz .quote-top {
    top: 6317px;
}
.dietz .quote-top-img {
    left: 21px;
}
/* job */
.dietz .job {
    top: 100 + 6661px;
    height: 253px;
}
.dietz .job .container {
    left: 0px;
    background-image: url(/assets/img/home/job-flourish.png);
    background-repeat: no-repeat;
    background-position: 167px 67px;
}
.dietz .job .job-content {
    position: absolute;
    top: 86px;
}
.dietz .job .bodycopy {
    width: 268px;
}
/* bio */
.dietz .bio {
    top: 100 + 6999px;
}
.dietz .bio .container {
    left: 0px;
    background-image: url(/assets/img/home/dietz/bio-img.png);
    background-repeat: no-repeat;
}
.dietz .bio .bodycopy {
    width: 532px;
}
.dietz .bio .role {  
    padding-left: 16px;
}
/* bottom quote */
.dietz .quote-bot {
    top: 100 + 7606px;  
}
.dietz .quote-bot .container {
    left: 0px;
    height: 270px;
}
.dietz .quote-bot-text-img {
    top: 0px;
    left: 0px;
}
.dietz .quote-bot-img {
    top: 89px;
    left: 355px;
}
/* ==========================================================================
   tribute custom styles
   ========================================================================== */
.tribute.home-content {
    top: -30px;
}
.tribute .quote-image {
    position: absolute;
    top: @homeheight + 8340;
    left: 0px;
}
.tribute .blocktext {
    background-color: #000;
    color: #fff;
    float: left;
    clear: both;
}
.tribute .seal {
    height: 224px;
}
.seal .container {
    background-repeat: no-repeat;
    padding-left: 275px;
    padding-top: 26px;
    left: 81px;
}
.tribute .seals {
    position: absolute;
    top: @homeheight + 8594;
    width: 978px;
    overflow: hidden;
    color: #c9c9c9;
}
.tribute .marcus .container {
    background-image: url(/assets/img/home/tribute/marcus.png);
}
.tribute .mikey .container {
    background-image: url(/assets/img/home/tribute/mikey.png);
}
.tribute .axe .container {
    background-image: url(/assets/img/home/tribute/axe.png);
}
.tribute .dietz .container {
    background-image: url(/assets/img/home/tribute/dietz.png);
}
.tribute .seal .team {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    opacity: .8;
    width: 282px;
    text-align: center;
    display: block;
    margin-left: -275px;
    margin-top: 146px;
}

.tribute .honor {
	width: 678px;
	position: absolute;
	top: @homeheight + 9584;
	text-align: center;
    padding-right: 300px;
    height: 600px;
}
.tribute .honor-title {
    color: #fff;
    font-size: 24px;
}
.tribute .honor-subtitle {
    color: #fff;
    font-size: 22px;
}
.tribute .flag-image {
    background-image: url(/assets/img/home/tribute/flag.png);
    margin-top: 38px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.tribute .honor-column{
    float: left;
    width: 226px;
    margin-top: 38px;
}
.tribute .honor-name-title{
    display: block;
    font-size: 18px;
    color: #fff;
    opacity: .9;
}
.tribute .honor-rank{
    display: block;
    font-weight: 200;
    color: #fff;
    font-size: 14px;
    padding-bottom: 28px;
    opacity: .9;
}
