
body {
	background-color: #acb55e;
}

/*We don't want iPad to highlight clicks */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*We need to force iPad browser to use hardware acceleration*/
.main-container * {
    -webkit-transform: translate3d(0,0,0);  
}

.hide {
    display: none;
}

