.main-container #story {
  background-image: url(/assets/img/story-bg.jpg);
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-position: top center;
}
.main-container #story .blocktext {
  padding-left: 12px;
  padding-right: 12px;
  margin: 0px;
  background-color: #000;
}
.main-container #story .title1 {
  font-size: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 36px;
  color: #cfcfcf;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  top: 166px;
}
.main-container #story .content-wrapper {
  background-image: url(/assets/img/story-text-bg.png);
  background-repeat: no-repeat;
  width: 529px;
  padding-left: 29px;
  padding-top: 6px;
  position: absolute;
  left: 50%;
  margin-left: -529px;
  top: 196px;
}
.main-container #story .content {
  color: #999999;
  width: 443px;
  margin-top: -8px;
}
div.indicator {
  display: none;
}
